@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");

:root {
  --dark-yellow: #fca311;
  --primary-bg: #e5e5e5;
  --primary-blue: #14213d;
}

* {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* HOMEPAGE */

.bg-homepage-section-1 {
  background-image: url("./components/images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.center-h {
  @apply left-1/2 translate-x-1/2;
}

.center-v {
  @apply top-1/2 -translate-y-1/2;
}

.uncenter-h {
  @apply left-1/2 translate-x-1/2;
}

.md\:uncenter-h {
  @apply left-auto translate-x-0;
}

.sm\:uncenter-h {
  @apply left-auto translate-x-0;
}

.center-both {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-homepage-section-2 {
  background-image: url("./components/images/bg2.svg");
  background-origin: content-box;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-homepage-section-4 {
  background-image: url("./components/images/bg4.svg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

@media (min-width: 768px) {
  .bg-homepage-section-2 {
    background-size: 85%;
  }
}

/* FOOTER */

.footer-element-on-hover {
  @apply text-slate-200 ml-4;
}

/*  LOADING  */

.container {
  background-image: conic-gradient(
    var(--primary-blue) 20deg,
    black 1deg,
    var(--dark-yellow) 1deg
  );
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SHOP */

.filter-icon-on {
  @apply translate-x-52 sm:translate-x-64;
}

.bg-shop {
  background-image: url("./components/images/shop-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

/* PRODUCT PAGE */

.bg-product-page {
  background-image: url("./components/images/ProductPage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: center bottom; */
  @apply bg-primary-gray;
}

.shadow-inner-lg {
  box-shadow: inset 0 8px 8px 0 rgb(0 0 0 / 0.05);
}

.bg-black-and-red {
  background: linear-gradient(90deg, black 50%, gray 1%, rgb(239, 68, 68) 49%);
}

.bg-mesh {
  /* background-color: hsla(300, 0%, 89%, 0.75);
  background-image: radial-gradient(
      at 100% 100%,
      hsla(220, 49%, 15%, 1) 0px,
      transparent 25%
    ),
    radial-gradient(at 100% 0%, hsla(220, 49%, 15%, 1) 0px, transparent 25%),
    radial-gradient(at 0% 0%, hsla(37, 97%, 52%, 1) 0px, transparent 25%),
    radial-gradient(at 52% 46%, hsla(0, 0%, 89%, 1) 0px, transparent 25%); */

  background-color: hsla(300, 0%, 89%, 0.8);
  background-image: radial-gradient(
      at 8% 58%,
      hsla(36, 97%, 52%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(220, 49%, 15%, 0) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(220, 49%, 15%, 0) 0px, transparent 50%),
    radial-gradient(at 7% 32%, hsla(37, 97%, 52%, 1) 0px, transparent 50%);
}
