@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

:root {
  --dark-yellow: #fca311;
  --primary-bg: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

body {
  overflow-x: hidden;
}

/* HOMEPAGE */

.bg-homepage-section-1 {
  background-image: url('./components/images/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.center-h {
  @apply left-1/2 translate-x-1/2;
}

.center-v {
  @apply top-1/2 -translate-y-1/2;
}

.uncenter-h {
  @apply left-1/2 translate-x-1/2;
}

.md\:uncenter-h {
  @apply left-auto translate-x-0;
}

.sm\:uncenter-h {
  @apply left-auto translate-x-0;
}

.center-both {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-homepage-section-2 {
  background-image: url('./components/images/bg2.svg');
  background-origin: content-box;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-homepage-section-4 {
  background-image: url('./components/images/bg4.svg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

@media (min-width: 768px) {
  .bg-homepage-section-2 {
    background-size: 85%;
  }
}
